.dropdown-btn {
    width: 100px;
}

.button-edit {
    margin-right: 1rem;
    min-width: 81px;
}

.input-group-text {
    min-width: 150px;
}

.skill-btn-add,
.skill-btn-remove {
    min-width: 40px !important;
}

.input-skill-remove {
    min-width: 150px !important;
    max-width: fit-content;
}

.skills-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* Two columns with equal width */
    gap: 10px;
    /* Adjust the gap between columns as desired */
    justify-content: center;
    /* Align content horizontally to center */
}

.skill-plate {
    border: 1px solid rgba(20, 20, 20, 0.788);
    background-color: rgba(155, 155, 155, 0.2);
    color: rgba(20, 20, 20, 0.788);
    margin-right: 1rem;
    margin-top: 1rem;
    padding: 5px;
    white-space: nowrap;
}

.additional{
    padding-left: 10px;
    padding-right: 10px;
}

.has {
    border: 1px solid rgb(15, 104, 27);
    background-color: rgba(74, 207, 96, 0.2);
    color: rgb(15, 104, 27);
}

.absent {
    border: 1px solid rgb(104, 15, 22);
    background-color: rgba(207, 74, 85, 0.2);
    color: rgb(104, 15, 22);
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
}

#container {
    height: 500px;
    min-width: 310px;
    max-width: 800px;
    margin: 0 auto;
}

.loading {
    margin-top: 10em;
    text-align: center;
    color: gray;
}

.highcharts-credits{
    display: none;
}